
<h1 class="section_heads">Indoor Conditions</h1>
<table class="data">
  <tr>
    <td>Current Temperature</td>
    <td class="values"><%= @indoor_temp %></td>
  </tr>
  <tr>
    <td>Current Humidity</td>
    <td class="values"><%= @indoor_humidity %> </td>
  </tr>
  <tr>
    <td>Current CO2 Level</td>
    <td class="values"> <%= @co2 %> PPM </td>
  </tr>
  <tr>
    <td>Barametric Pressure</td>
    <td class="values"><%= @pressure %> mmhg</td>
  </tr>
  <tr>
    <td>It is currently</td>
    <td class="values"> <%= @noise %> dB </td>
  </tr>
</table>
