<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1 class="section_heads">Indoor Conditions</h1>
    <p class="in_data">
      temp is <%= @indoor_temp %>
      <br>
      humidity is <%= @indoor_humidity %>
      <br>
      indoor CO2 is <%= @co2 %>ppm
      <br>
      It is <%= @noise %> dB inside
      <br>
      the barametric pressure is <%= @pressure %>
      <br>
      pressure in mbar is <%= @pressure_mb %>
      <br>
      Last server push at <%= @last_seen %>
    </p>
  </body>
</html>
