<h3> This is a test page all measurements are in metric </h3>
<h3> Last measure at <%= Time.now %> </h3>

<h1>Current Alerts</h1>
<% @alerts.each do |alert| %>
  <p class="alert">
    <span><%= alert['text_field'] %></span>
    <br>
    <%= alert['descr'] %>
  </p>
<% end %>


<h3>testing section</h3>
<p>
  <%= @test['Temperature'] %>
  <br>
  humidity <%= @test['Humidity'] %>
</p>
