<h1 class="section_heads">Current Outdoor Conditions</h1>
<table class="center" class="data">
  <tr>
    <td>Current Temperature</td>
    <td class="values"><%= @outdoor_temp %></td>
  </tr>
  <tr>
    <td>Current Humidity</td>
    <td class="values"><%= @outdoor_humidity %> </td>
  </tr>
  <tr>
    <td>Outdoor Max Temp</td>
    <td><%= @outdoor_max_temp %> at <%= @outdoor_max_date %></td>
  </tr>
  <tr>
    <td>Outdoor Min Temp</td>
    <td> <%= @outdoor_min_temp %> at <%= @outdoor_min_date %> </td>
  </tr>
</table>
