<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1 class="section_heads">Outdoor Conditions</h1>
    <p class="outdoor_conditions">
      Current Temperature <%= @outdoor_temp %>
      <br>
      Current Humidity <%= @outdoor_humidity %>
      <br>
      The outdoor Max temp is <%= @outdoor_max_temp %> at <%= @outdoor_max_date %>
      <br>
      The outdoor Min Temp is <%= @outdoor_min_temp %> at <%= @outdoor_min_date %>
    </p>
  </body>
</html>
